*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
}
body .container{
    width: 100%;
    height: 100vh;
}
.scarpablu{
    background-color: red;
}
.scarpabianca{
    background-color: green;
}
.scarpaverde{
    background-color: blue;
}
.scarpablu img{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scarpabianca img{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scarpaverde img{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scarpablu h1{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 200%;
    text-align: center;
}
.scarpabianca h1{
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 200%;
    text-align: center;
}
.scarpaverde h1{
    position: absolute;
    top: 280%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 200%;
    text-align: center;
}
nav ul li{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 20px;
    background-color: white;
}
nav{
    position: fixed;
    left: 75%;
    width: 100%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
}
nav ul li a{
    text-decoration: none;
    color: black;
}


/* .scarpablu, .scarpabianca, .scarpaverde img{
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* .scarpablu, .scarpabianca, .scarpaverde h1{
    color: yellow;
    font-size: 7rem;
    text-align: center;
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
} */




/* utility classes */
.border{
    border: 1px solid black;
}